.hero{
    min-height: 100dvh;
    padding: 8rem 5%;
    max-width: 1400px;
    margin: 0 auto;
    align-content: baseline;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}
@media (min-width: 1024px) {
    .hero{
        grid-template-columns: 1.2fr 1fr;
        gap: 6rem;
        padding: 8rem 2rem;
    }
}
